/* #region Root */

:root {
  --primary-white: #ffffff;
  --neutral-purple: #e53170;
  --neutral-lightblue: #249fd8;
  --neutral-darkblue: #0f0e17;
  --neutral-grey: #cdcdcc;
}

/* #endregion Root */

/* DEBUG */

.debug .team_member {
  border: 1px solid lime;
  background-color: #0f0e17;
  height: 200px;
  width: calc(100% / 3);
}

/* /DEBUG */

/* #region Common */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

/* #endregion Common */

/* #region Utility */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.halign {
  text-align: center;
}

.fw-500 {
  font-weight: 500;
}

.fw-900 {
  font-weight: 900;
}

.hp-25 {
  padding: 0 25px;
}

.mb-50 {
  margin-bottom: 50px;
}

/* #endregion Utility */

/* #region Layout */

.container {
  width: 70%;
  margin: 50px auto;
}

/* #endregion Layout */

/* #region Header */

#page_title {
  color: var(--neutral-purple);
  font-size: 3.5rem;
}
/* #endregion Header */

/* #region Main */

#team_overview {
  font-size: 1.5rem;
  margin: 60px 0;
}

.team_member {
  float: left;
}
/* #endregion Main */