/* #region Root */

:root {
  --primary-white: #ffffff;
  --neutral-purple: #e53170;
  --neutral-lightblue: #249fd8;
  --neutral-darkblue: #0f0e17;
  --neutral-grey: #bababa;
}

/* #endregion Root */

/* #region Common */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

/* #endregion Common */

/* #region Utility */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.halign {
  text-align: center;
}

.valign {
  vertical-align: middle;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.lp-15 {
  padding-left: 15px;
}

.hp-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.hp-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.hm-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}

/* #endregion Utility */

/* #region Layout */

.container {
  width: 75%;
  margin: 50px auto;
}

/* #endregion Layout */

/* #region Header */

#page_title {
  color: var(--neutral-purple);
  font-size: 3.5rem;
}
/* #endregion Header */

/* #region Main */

#team_overview {
  font-size: 1.5rem;
  margin: 60px 0;
}

.team_member > img {
  width: 150px;
}

.info_container {
  display: inline-block;

}

.team_member {
  float: left;
  background-color: var(--neutral-darkblue);
  width: calc((100% / 3) - 50px);
  box-shadow: 0 0 10px 3px var(--neutral-grey);
}

.name,
.role {
  color: var(--primary-white);
}

.role,
.mail {
  display: block;
  font-size: 1.2rem;
}

.name {
  font-size: 1.4rem;
}

.role {
  padding: 15px 0;
}

.mail {
  text-decoration: none;
  color: var(--neutral-lightblue);
}

/* #endregion Main */